{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title> WikiCrawler </title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
</head>

</head>
<body>
   {% if game.won %}
    <h1> you won! :D </h1>
    <h2> here's the journey that you took </h2>
    <h2> Goal Page: {{ game.goal_name }} </h2>
    <h3> 
    {% for path in game.get_path %}
        <p> {{ path }}</p>    
    {% endfor %}
    </h3>
    <a href="/"> Play Again? </a> 
    {% else %}
    <h1> Your goal is: {{ game.goal_name }} </h1>
    <h2> Your current page is: {{ game.current_name }} </h2>
    <h3> 
    {% for page, url in pages.items %}
    <form action='/{{game.pk}}/' method="post"> 
        {% csrf_token %}
        <input type="hidden" name="page_name" value="{{ page }}" />
        <button> {{ page }} </button>
    </form>
    {% endfor %}
    </h3>
    {% endif %}
</body>
</html>
