{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title> WikiCrawler </title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
</head>
<body>
<h1 id="title"> Welcome to WikiCrawler! </h1>

<form action='/go/' method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<h1> Past Games </h1>
<h2> 
{% for game in games %}
<a href="/{{ game.pk }}/"> {{ game.playername }} {{game.won }} </a> 
<br>
{% endfor %}
</h2>
<a href='/stat/'> Statistics </a>
</body>
</html>
